configuration {
 theme: "~/.config/rofi/themes/gruvbox-dark-solid-modified.rasi";
 font: "SourceCodePro Nerd Font 10.5";
 combi-modi: "drun,window,run";
 lines: 5;
 width: 20;
 columns: 2;
 bw: 3;
 sidebar-mode: false;
 location: 0;
 icon-theme: "~/.local/share/icons/McMojave-circle-grey";
 show-icons: true;
}
