[user]
  name = Logan Connolly
  email = logan.connolly@protonmail.com
  username = logan-connolly
[core]
  editor = nvim
[mergetool "fugitive"]
  cmd = nvim -f -c \"Gvdiffsplit!\" \"$MERGED\"
[merge]
  tool = fugitive
[pull]
  rebase = false
