[user]
  name = Logan Connolly
  email = logan-victor.connolly@capgemini.com
  username = loconnol
[core]
  editor = nvim
[mergetool "fugitive"]
  cmd = nvim -f -c \"Gvdiffsplit!\" \"$MERGED\"
[merge]
  tool = fugitive
[pull]
  rebase = false
