[user]
  name = Logan Connolly
  email = logan.connolly@protonmail.com
[core]
  editor = nvim
[pull]
  rebase = false
[mergetool "fugitive"]
	cmd = nvim -f -c \"Gvdiffsplit!\" \"$MERGED\"
[merge]
	tool = fugitive
[mergetool]
  prompt = false
